Options -Indexes
RewriteEngine On
RewriteBase /
RewriteRule ^ico/(.*)$    http://ico.gmaths.net/$1
RewriteRule ^accueil$    http://isn.noordover.fr/#section1  [NE,L]
RewriteRule ^forum$    http://isn.noordover.fr/#section2  [NE,L]
RewriteRule ^isn-icn$    http://isn.noordover.fr/#section3  [NE,L]
RewriteRule ^maths$    http://isn.noordover.fr/#section4  [NE,L]
RewriteRule ^contact$    http://isn.noordover.fr/#section5  [NE,L]

# Explication sur les flags : https://httpd.apache.org/docs/2.4/fr/rewrite/flags.html